# core
streamlit>=1.25.0
numpy>=1.25.0
matplotlib>=3.9.2
soundfile
pydub
transformers>=4.39.3
sentencepiece

# CPU-only torch/torchaudio that support Python 3.13
torch==2.9.1+cpu
torchaudio==2.9.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
